@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: white;
  --foreground: black;
  --bg-color: black;
  --text-color: white;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --bg-color: white;
  --text-color: black;
}
